@import "https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css";

html {
  font-size: 20px;
}

p {
  line-height: 1.5rem;
  margin: .5 0;
}

ol, ul {
  margin: 0 0 1.5rem 0;
}

li {
  line-height: 1.5rem;
  margin-bottom: .5rem;
}

.resume h1 {
  margin: 2rem 0 0 0;
  line-height: 1;
}

.resume h2 {
  font-variant: small-caps;
  margin: 2rem 0 0 0;
  line-height: 1;
}

.resume h3 {
  margin: 1.5rem 0 0 0;
  line-height: 1;
}

.resume h3 + p {
  margin-top: .25rem;
  font-style: italic;

  color: hsl(212, 27%, 50%);
}

.resume p, .resume li {
  opacity: .9;
}

h1 {
  margin: 2rem 0 0 0;
}

h2 {
  margin: 2rem 0 0 0;
}

h3 {
  margin: .5rem 0 0 0;
}

p, li, ol, ul {
  margin: .5rem 0 0 0;
}